body{
    margin: 0;
    background-color: rgb(20, 22, 22);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box
    box;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color:brown;
    height: 30%;
    width: 40%;
    margin-top: 15%;
}

li{
    list-style: none;
}
